<div class="modal fade" id="exampleModal" tabindex="-1" #myModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">...</div>
      <div class="modal-body">

        <p>Are you sure that you want to delete this recording? (This action can't be undone)</p>
        <button type="button" class="btn btn-primary" (click)="yes()">Yes</button>
        <button type="button" class="btn btn-secondary" (click)="no()">No</button>

      </div>
    </div>
  </div>
</div>
